<section class="banner banner_f1">
  <div class="container_grid posicao_texto">
    <div class="texto_banner">
      <span>Liga E-players</span>
      <p>Maior plataforma de campeonatos online</p>
      <a href="#">Inscreva-se</a>
    </div>
  </div>
</section>
<div class="secao_jogos">
  <div class="linha_jogos container">
    <a href="#"><img src="/assets/img/f1.png" alt="logo formula1" /></a>
    <a href="#"
      ><img src="/assets/img/lol.png" alt="logo league of legends"
    /></a>
    <a href="#"
      ><img src="/assets/img/counter.png" alt="logo counter strike"
    /></a>
    <a href="#"><img src="/assets/img/valorant.png" alt="logo valorant" /></a>
    <a href="#"><img src="/assets/img/fifa.png" alt="logo fifa" /></a>
  </div>
</div>
<section class="ofertas">
  <div class="container_grid">
    <h2>Ofertas</h2>
    <div id="secao_produtos" class="secao_cards">
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
      <div class="card">
        <img src="/assets/img/imagegirl.png" alt="imagem de uma menina" />
        <h3>Título do Jogo</h3>
        <p>Descrição do Jogo</p>
        <p>R$ 100,00</p>
        <a href="#">Comprar</a>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="banner_bottom">
    <div class="black_background">
      <div class="alinhamento_banner_bottom container_grid">
        <div class="text_banner_bottom">
          <span>Como participar das ligas ?</span>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat
            soluta voluptatem illo magnam cupiditate ducimus placeat, excepturi
            ex dolore dolor? Magnam magni sequi natus reprehenderit sed omnis
            minima similique eligendi. Lorem ipsum dolor sit amet consectetur
            adipisicing elit.
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
            qui ut, architecto ea voluptas alias soluta, eveniet aspernatur
            mollitia sapiente beatae quam veniam nobis magni tempora est in odit
            libero!
          </p>
        </div>
        <img
          class="banner_bottom_image"
          src="/assets/img/image_bottom.png"
          alt="Imagem de um herói"
        />
      </div>
      <p class="leia_mais container_grid"><a href="#">Leia mais...</a></p>
    </div>
  </div>
</section>
<app-footer></app-footer>
